.my-container {
  /*width: 98vw;*/
  /*height: 95vh;*/
  /*background-color: #000;*/
  /*margin: 0 auto;*/
  /*position: relative;*/
}

.slide-wrapper {
  position: relative;
  width: 15.34375rem;
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*   border: 1px solid #fff;*/
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  height: 4.25rem;
  padding: 0.5rem;
  width: 100%;
  background: #383838;
  box-shadow: 0.125rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25) inset;

  /* BackBlur */
  /*backdrop-filter: blur(10px);*/
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 9999rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-sizing: border-box;
  /*width: 40%;*/
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.625rem;
  z-index: 9999;
  background-color: #D04848;
  border-radius: 9999rem;
  background-image: url("./lock.svg");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: 50% 50%;
  background-size: 2rem 2rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  border: none;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.slider::-moz-range-thumb {
  -moz-appearance: none;
  box-sizing: border-box;
  /*width: 40%;*/
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.625rem;
  z-index: 9999;
  background-color: #D04848;
  border-radius: 9999rem;
  background-image: url("./lock.svg");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: 50% 50%;
  background-size: 2rem 2rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  border: none;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.slider[value="1000"] {
  background-color: #D04848;
}

.slider[value="1000"]::-webkit-slider-thumb {
  background-color: #F4F4F4;
  background-image: url("./unlock.svg");
}

.slider[value="1000"]::-moz-range-thumb {
  background-color: #F4F4F4;
  background-image: url("./unlock.svg");
}

.slide-text {
  /*font-family: sans-serif;*/
  /*font-size: 1.5em;*/
  /*font-weight: normal;*/
  /*color: #fff;*/
  position: absolute;
  top: 30%;
  right: 20%;
  /*margin: 0;*/
  /*padding: 0;*/
  /*z-index: 1;*/
  cursor: default;
}
